.reviews-block {
      margin-top: 150px;
}
.reviews-container {
      flex-direction: column;
      gap: 80px;
}

.yandex-reviews-black {
      display: flex; 
      justify-content: center; 
      align-items: center; 
      width: 100%; 
      box-sizing: border-box; 
      padding: 30px;
}

.yandex-reviews-container {
      position: relative;
      width: 580px;
      height: 800px;
      border-radius: 30px;
      overflow: hidden;
}

.yandex-reviews-container iframe {
      width: 100%;
      height: 100%;
      border: var(--border-green);
      border-radius: 30px;
      box-sizing: border-box;
}

/* adaptive */
@media screen and (max-width: 1400px) {
      .yandex-reviews-container {
            width: 500px;
            height: 688px;
      }
}

@media screen and (max-width: 1000px) {
      .reviews-block {
            margin-top: 110px;
      }

      .yandex-reviews-container {
            width: 436px;
            height: 600px;
      }
}

@media screen and (max-width: 800px) {
      .yandex-reviews-container {
            width: 374px;
            height: 700px;
      }
}

@media screen and (max-width: 600px) {
      .yandex-reviews-container {
            width: 320px;
            height: 600px;
      }
}