.burger-button {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6px;
      width: 50px;
      height: 32px;
}

.burger-button.header {
      display: none;
}

.burger-button span {
      position: absolute;
      height: 4px;
      background: #FFFFFF;
      border-radius: 70px;

      transition: 0.3s;
}


.burger-button span:nth-child(1) {
      width: 28px;
      top: 0px;
      right: 0px;
}

.burger-button span:nth-child(2) {
      width: 100%;
}

.burger-button span:nth-child(3) {
      width: 28px;
      bottom: 0px;
      left: 0px;
}





/* active */

.burger-button.active span:nth-child(1) {
      rotate: -45deg;
      width: 20px;
      top: 2px;
      right: 4px;
}

.burger-button.active span:nth-child(2) {
      rotate: 45deg;
}

.burger-button.active span:nth-child(3) {
      rotate: -45deg;
      width: 20px;
      bottom: 2px;
      left: 4px;
}





/* adaptive */

@media screen and (max-width: 1400px) {
      .burger-button {
            gap: 6px;
            width: 40px;
            height: 32px;
      }

      .burger-button span {
            height: 4px;
      }


      .burger-button span:nth-child(1) {
            width: 22px;
      }

      .burger-button span:nth-child(3) {
            width: 22px;
      }

      /* active */

      .burger-button.active span:nth-child(1) {
            width: 18px;
            top: 5px;
            right: 2px;
      }

      .burger-button.active span:nth-child(3) {
            width: 18px;
            bottom: 5px;
            left: 2px;
      }
}

@media screen and (max-width: 1200px) {
      .burger-button {
            width: 37px;
            height: 27px;
      }

      .burger-button span {
            height: 3px;
      }


      .burger-button span:nth-child(1) {
            width: 22px;
      }

      .burger-button span:nth-child(3) {
            width: 22px;
      }

      /* active */

      .burger-button.active span:nth-child(1) {
            width: 16px;
            top: 4px;
            right: 3px;
      }

      .burger-button.active span:nth-child(3) {
            width: 16px;
            bottom: 4px;
            left: 3px;
      }
}

@media screen and (max-width: 1000px) {
      .burger-button.header {
            display: flex;
      }
}

@media screen and (max-width: 800px) {
      .burger-button {
            width: 30px;
            height: 21px;
      }

      .burger-button span:nth-child(1) {
            width: 17px;
      }

      .burger-button span:nth-child(3) {
            width: 17px;
      }

      /* active */

      .burger-button.active span:nth-child(1) {
            width: 13px;
            top: 2px;
            right: 2px;
      }

      .burger-button.active span:nth-child(3) {
            width: 13px;
            bottom: 2px;
            left: 2px;
      }
}