.services-block {
      margin-top: 300px;
}

.services-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px;
      
      width: 100%;
}

.cards-block {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      gap: 40px;
}

.card-block {
      position: relative;
      width: 420px;
      height: 315px;
      background-color: gray;
      border-radius: 30px;
      padding: 10px;
}

.card-container {
      width: 100%;
      height: 100%;
}

.card-container h3 {
      font-size: 1.5rem;
      text-align: center;
      color: var(--light-color);
}

.more-button {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 16px;
      
      width: 50px;
      height: 50px;
      bottom: 10px;
      right: 10px;
      border-radius: 200px;
      overflow: hidden;
      box-shadow: inset 0 0 0 3px var(--light-color);
      transition: width 0.22s;
}

.more-button span {
      font-weight: var(--regular-font);
      color: var(--light-color);
}

.more-button svg {
      rotate: -20deg;
      transition: rotate 0.22s;
}

.more-button .sircle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      aspect-ratio: 1 / 1;
      background-color: var(--light-color);
      border-radius: 200px;
      
}

@media (hover: hover) {
      .card-block:hover .more-button {
            width: 200px;
      }
      .card-block:hover .more-button svg {
            rotate: -25deg;
      }
}

@media (hover: none) {
      .more-button {
            width: 200px;
      }
}


/* adaptive */
@media screen and (max-width: 1370px) {

      .cards-block {
            gap: 20px;
      }

      .card-block {
            width: 380px;
            height: 286px;
      }
}

@media screen and (max-width: 1200px) {

      .services-block {
            margin-top: 220px;
      }

      .cards-block {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            gap: 30px;
      }

      .card-container h3 {
            font-size: 1rem;
      }
}

@media screen and (max-width: 820px) {
      .cards-block {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            gap: 10px;
      }

      .card-block {
            width: 340px;
            height: 256px;
      }
}

@media screen and (max-width: 740px) {

      .services-block {
            margin-top: 150px;
      }

      .cards-block {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            gap: 30px;
      }

      .card-block {
            width: 380px;
            height: 286px;
      }

      .card-container h3 {
            font-size: 1.5rem;
      }


      .more-button {
            gap: 5px;
            width: 44px;
            height: 44px;
            box-shadow: inset 0 0 0 2px var(--light-color);
      }

      .more-button svg {
            width: 20px;
            height: 10px;
      }

      @media (hover: none) {
            .more-button {
                  width: 180px;
            }
      }
}

@media screen and (max-width: 600px) {
      .cards-block {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            gap: 20px;
      }

      .card-block {
            width: 300px;
            height: 226px;
      }

      .card-container h3 {
            font-size: 1rem;
      }
}