@charset "UTF-8";
footer .documents a, footer .about-us-text p, .contacts-block__container .contact-block__container p, .question-answer-block .text-block p, .services__container > p, .services__container li p, .search-service__container input, .pricing-plan-block__container .plan-card li, .about-us-section_container .text-block p, .about-us-section_container .text-block li, .form .close-form, .form .submit-call-button, .form .order-call-button, .form .input-checkbox-block p a, .form .input-checkbox-block p, .form input[type=text],
.form input[type=number], .header__container a, .notification-block__container p, .more-information-text, .form .close-form {
  font-family: "Montserrat";
  font-weight: normal;
  color: rgb(255, 255, 255);
}

footer .documents h2, .contacts-block__container h2, .questions-block__container h2, .services__container h2, .pricing-plan-block__container .plan-card h2, .plan-buttos-block button, .welcome-text h2, .menu-container li {
  font-family: "Montserrat";
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.characteristic-block__container .card h2, .welcome-text h1 {
  font-family: "Montserrat";
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.form, .form .submit-call-button, .form .order-call-button {
  border-radius: 50px;
}

.form .submit-call-button, .form .order-call-button {
  width: 100%;
  height: 100%;
  background-color: rgb(40, 102, 36); /* Rectangle 4 */
  border: none;
}
.form .submit-call-button:hover, .form .order-call-button:hover {
  background-color: rgb(29, 145, 29); /* Rectangle 4 */
}

footer .documents a, .services__container > p, .more-information-text, .form .close-form {
  opacity: 0.6;
  color: rgb(255, 255, 255);
}
footer .documents a::after, .services__container > p::after, .more-information-text::after, .form .close-form::after {
  position: absolute;
  content: "";
  width: 25%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  right: 0px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
footer .documents a:hover::after, .services__container > p:hover::after, .more-information-text:hover::after, .form .close-form:hover::after {
  width: 90%;
}

.services__container, .search-service.visible-element {
  background-color: rgb(32, 32, 32);
  border: 2px solid rgb(170, 124, 62);
  -webkit-box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
          box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
}

.scroll-off {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.preloader-block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 100000;
}
.preloader-block.preloader-off {
  display: none;
}
.preloader-block__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.preloader-block__container svg {
  position: absolute;
}
.preloader-block__container svg.small-semicircle {
  -webkit-animation: semicircle 3s infinite linear;
          animation: semicircle 3s infinite linear;
}
.preloader-block__container svg.medium-semicircle {
  -webkit-animation: semicircle 2s infinite linear;
          animation: semicircle 2s infinite linear;
}
.preloader-block__container svg.large-semicircle {
  -webkit-animation: semicircle 1.5s infinite linear;
          animation: semicircle 1.5s infinite linear;
}
@-webkit-keyframes semicircle {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes semicircle {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

section {
  height: 0px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
section.dom-load {
  height: unset;
  opacity: 1;
}

footer {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer.dom-load {
  visibility: visible;
  opacity: 1;
}

#cursor {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -100px;
  width: 26px;
  height: 26px;
  background-color: none;
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
  pointer-events: none;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 100000;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

#cursor-point {
  width: 6px;
  height: 6px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#button-top {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  bottom: 30px;
  left: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 900;
}
#button-top:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
          box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
}
#button-top.active-button-top {
  visibility: visible;
  opacity: 0.8;
}

.notification-block {
  visibility: hidden;
  position: fixed;
  top: -60px;
  right: 30px;
  background-color: rgb(129, 96, 52);
  border-radius: 100px;
  z-index: 9000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.notification-block.active-notification {
  visibility: visible;
  top: 20px;
}
.notification-block__container {
  padding: 10px 40px;
}
.notification-block__container p {
  font-size: 1.5rem;
}

#welcome-section {
  height: 100vh;
}

.welcome-section__container {
  padding: 0px 100px;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 74px;
  background-color: rgb(32, 32, 32);
  -webkit-box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
          box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
  border-radius: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
  z-index: 10;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
header.visible-element {
  background-color: rgb(32, 32, 32);
  -webkit-box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
          box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0px 60px;
}
.header__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
}
.header__container a {
  opacity: 0.7;
  font-size: 1.75rem;
}
.header__container a:hover {
  color: rgb(170, 124, 62);
}
.header__container .logo-block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__container .burger-button {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 28px;
}
.header__container .burger-button .line {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgb(129, 96, 52);
  border-radius: 100px;
}
.header__container .burger-button .line:nth-child(1) {
  top: 0px;
  -webkit-transition: top 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, transform 0.3s;
  transition: top 0.3s, transform 0.3s, -webkit-transform 0.3s;
  z-index: 1;
}
.header__container .burger-button .line:nth-child(2) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}
.header__container .burger-button .line:nth-child(3) {
  bottom: 0px;
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s;
  transition: bottom 0.3s, -webkit-transform 0.3s;
  transition: bottom 0.3s, transform 0.3s;
  transition: bottom 0.3s, transform 0.3s, -webkit-transform 0.3s;
  z-index: 1;
}
.header__container .burger-button.active-menu .line:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__container .burger-button.active-menu .line:nth-child(2) {
  width: 0px;
}
.header__container .burger-button.active-menu .line:nth-child(3) {
  bottom: 12px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger-menu {
  visibility: hidden;
  position: absolute;
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.2509803922);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 9000;
}
.burger-menu.active-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 85%;
  margin-top: 100px;
  background-color: rgb(32, 32, 32);
  -webkit-box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
          box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
}
.menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.menu-container li {
  font-size: 1.5rem;
}
.menu-container li a {
  color: rgb(255, 255, 255);
}
.menu-container li:last-child {
  margin-top: 15px;
}

.welcome-block {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0px;
  right: 0px;
  background-image: url(../media/images/background-png.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: -webkit-fill-available;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.welcome-block.visible-element {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .welcome-block {
    background-image: url(../media/images/background-mobile-WEBP.webp);
  }
}
.welcome-block__container {
  padding: 0px 150px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(32, 32, 32)), color-stop(25%, rgba(32, 32, 32, 0)), color-stop(75%, rgba(32, 32, 32, 0)), to(rgb(32, 32, 32)));
  background: linear-gradient(0deg, rgb(32, 32, 32) 0%, rgba(32, 32, 32, 0) 25%, rgba(32, 32, 32, 0) 75%, rgb(32, 32, 32) 100%);
}

.welcome-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 150px;
  width: 100%;
}

.welcome-text {
  width: 50%;
}
.welcome-text h1 {
  font-size: clamp(2rem, 1.4902rem + 2.0915vw, 4rem);
}
.welcome-text h2 {
  font-size: clamp(1.5rem, 1.3088rem + 0.7843vw, 2.25rem);
}

.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  height: 100px;
  z-index: 1000;
  background-color: rgb(32, 32, 32);
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.form__container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}
.form.active-form {
  height: 512px;
  border: 2px solid rgb(170, 124, 62);
}
.form.active-form .form__container {
  padding: 50px;
}
.form form {
  visibility: hidden;
  width: 100%;
  height: 0%;
  gap: 0px;
}
.form form.active-form {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 65%;
  gap: 30px;
}
.form input[type=text],
.form input[type=number] {
  opacity: 0;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(32, 32, 32);
  border: 2px solid rgb(170, 124, 62);
  border-radius: 25px;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  color: white;
  font-size: 1.25rem;
  padding: 0px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form input[type=text]::-webkit-inner-spin-button, .form input[type=text]::-webkit-outer-spin-button,
.form input[type=number]::-webkit-inner-spin-button,
.form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form input[type=text]:focus,
.form input[type=number]:focus {
  -webkit-box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
          box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
}
.form input[type=text].active-form,
.form input[type=number].active-form {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.form .input-checkbox-block {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form .input-checkbox-block.active-form {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.form .input-checkbox-block p {
  font-size: 0.9rem;
}
.form input[type=checkbox] {
  margin: 0px;
  padding: 0px;
  width: 25px;
  height: 25px;
}
.form .order-call-button {
  display: block;
  height: 100%;
  font-size: 2.25rem;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.form .order-call-button.active-form {
  display: none;
  height: 80px;
  font-size: 2rem;
}
.form .submit-call-button {
  display: none;
  height: 100%;
  font-size: 1.75rem;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.form .submit-call-button.active-form {
  display: block;
  height: 80px;
}
.form .close-form {
  visibility: hidden;
  position: absolute;
  bottom: -40px;
  font-size: 1rem;
}
.form .close-form.active-form {
  visibility: visible;
}

.more-information-text {
  position: absolute;
  bottom: 60px;
  right: 100px;
  font-size: 2rem;
}

#about-us-section {
  margin-top: 150px;
}

.about-us-section_container {
  padding: 0px 10vw;
}
.about-us-section_container .text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-us-section_container .text-block p, .about-us-section_container .text-block li {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  font-size: 2rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.about-us-section_container .text-block p.visible-element, .about-us-section_container .text-block li.visible-element {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.about-us-section_container .text-block p {
  text-align: center;
  margin: 20px 0px;
}
.about-us-section_container .text-block p:nth-child(1) {
  margin: 0px 0px 50px;
}
.about-us-section_container .text-block li::before {
  content: "✅";
  margin-right: 5px;
}

.characteristic-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}
.characteristic-block__container .card {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
  width: 250px;
  height: 250px;
  background-color: rgb(32, 32, 32);
  border: 2px solid rgb(170, 124, 62);
  border-radius: 50px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.characteristic-block__container .card.visible-element {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.characteristic-block__container .card .svg-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.characteristic-block__container .card h2 {
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  font-size: 1.5rem;
  color: #BB9665;
  text-align: center;
}
.characteristic-block__container .card:nth-child(2), .characteristic-block__container .card:nth-child(4) {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.characteristic-block__container .card:nth-child(3) {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}
.characteristic-block__container .card:nth-child(3) h2 {
  font-size: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#pricing-plans-section {
  margin-top: 140px;
}

.pricing-plan-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.plan-buttos-block {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.plan-buttos-block button {
  position: relative;
  opacity: 0.4;
  font-size: 1.25rem;
}
.plan-buttos-block button.active-plan {
  opacity: 1;
}
.plan-buttos-block button.active-plan::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.plan-buttos-block button {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 1.15rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.plan-buttos-block button.visible-element {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.pricing-plan-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  margin-top: 40px;
}
.pricing-plan-block__container .plan-card {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px 0px;
  gap: 20px;
  width: 450px;
  height: 600px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition: visibility 0.7s, opacity 0.7s, -webkit-transform 0.7s;
  transition: visibility 0.7s, opacity 0.7s, -webkit-transform 0.7s;
  transition: visibility 0.7s, opacity 0.7s, transform 0.7s;
  transition: visibility 0.7s, opacity 0.7s, transform 0.7s, -webkit-transform 0.7s;
  -webkit-animation: visibled-card 0.5s forwards;
          animation: visibled-card 0.5s forwards;
}
.pricing-plan-block__container .plan-card.active-plan {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@-webkit-keyframes visibled-card {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes visibled-card {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.pricing-plan-block__container .plan-card:nth-child(1) {
  background-color: rgb(57, 102, 46);
}
.pricing-plan-block__container .plan-card:nth-child(2) {
  background-color: rgb(46, 52, 102);
}
.pricing-plan-block__container .plan-card:nth-child(3) {
  background-color: rgb(129, 96, 52);
}
.pricing-plan-block__container .plan-card h2 {
  position: relative;
  font-size: 3rem;
}
.pricing-plan-block__container .plan-card h2::after, .pricing-plan-block__container .plan-card h2::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
}
.pricing-plan-block__container .plan-card h2::after {
  right: -20px;
}
.pricing-plan-block__container .plan-card h2::before {
  left: -20px;
}
.pricing-plan-block__container .plan-card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.pricing-plan-block__container .plan-card li {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  position: relative;
  font-size: 1.25rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.pricing-plan-block__container .plan-card li.visible-element {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.pricing-plan-block__container .plan-card .before::before {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
.pricing-plan-block__container .plan-card.visible-element {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#services-section {
  margin-top: 180px;
}

.services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.search-service {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px;
  width: 60%;
  border: 2px solid rgb(170, 124, 62);
  border-radius: 50px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.search-service.visible-element {
  visibility: visible;
}
.search-service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.search-service__container .svg-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}
.search-service__container input {
  visibility: hidden;
  opacity: 0;
  width: 200px;
  background: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
.search-service__container input:focus {
  border-bottom: 1px solid rgb(170, 124, 62);
}
.search-service__container input.visible-element {
  visibility: visible;
  opacity: 1;
}

.services {
  visibility: hidden;
  opacity: 0;
  position: relative;
  width: 80vw;
  max-width: 1100px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.services.visible-element {
  visibility: visible;
  opacity: 1;
}
.services__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 1100px;
  border-radius: 50px;
  padding: 50px;
  gap: 60px;
}
.services__container h2 {
  font-size: 2rem;
}
.services__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 100%;
}
.services__container li {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.services__container li.visible-element {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.services__container li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.5rem;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.services__container li p span {
  opacity: 0.3;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
}
.services__container li p.service-name {
  text-align: start;
}
.services__container li p.service-price {
  text-align: end;
}
.services__container li:hover p {
  color: rgb(170, 124, 62);
}
.services__container li.off-item {
  display: none;
}
.services__container > p {
  display: none;
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.9rem;
}
.services__container.active-table {
  height: 100%;
}
.services__container.active-table li {
  height: 100%;
}

#gallery-section {
  margin-top: 250px;
}

.gallery-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.gallery-block__container .arrow-gallery {
  display: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.gallery-block__container .arrow-gallery:active {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.images-block__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 20px auto 20px auto 20px auto;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.img-block:hover {
  -webkit-box-shadow: inset 0px 0px 16px 7px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 16px 7px rgba(0, 0, 0, 0.75);
}
.img-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 20px;
}
.img-block__container img {
  display: none;
}
.img-block__container svg {
  display: none;
  position: absolute;
  top: 40px;
  right: 40px;
}
.img-block__container svg rect {
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.img-block__container svg:hover rect {
  fill: rgb(170, 124, 62);
}
.img-block.active-img {
  background: none;
}
.img-block.active-img .img-block__container {
  position: fixed;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  z-index: 10000;
}
.img-block.active-img .img-block__container img {
  display: block;
  height: 90%;
  width: 80%;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.img-block.active-img .img-block__container svg {
  display: block;
}

#questions-section {
  margin-top: 200px;
}

.questions-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  width: 100%;
  padding: 0px 10vw;
}
.questions-block__container h2 {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  font-size: 3rem;
  color: rgb(255, 255, 255);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.questions-block__container h2.visible-element {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.question-answer {
  width: 100%;
}
.question-answer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 60px;
}

.question-answer-block {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  gap: 20px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.question-answer-block.visible-element {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.question-answer-block .text-block {
  padding: 25px 35px;
  border-radius: 50px;
  border: 1px solid rgb(170, 124, 62);
  background-color: rgb(170, 124, 62);
}
.question-answer-block .text-block.question {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 100;
}
.question-answer-block .text-block.answer {
  position: absolute;
  background-color: unset;
  height: 100%;
  overflow: hidden;
  z-index: 90;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.question-answer-block .text-block p {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  width: 89%;
}
.question-answer-block .text-block svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.question-answer-block.active-question .text-block.answer {
  position: unset;
  height: 100%;
}
.question-answer-block.active-question svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#contacts-section {
  margin-top: 200px;
}

.map-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 80vh;
}

.map {
  opacity: 0;
  border-radius: 50px 0px 0px 50px;
  width: 55vw;
  height: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.map.visible-element {
  opacity: 1;
}

.contacts-block {
  position: absolute;
  left: 15%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.contacts-block.visible-element {
  left: 5%;
}
.contacts-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
  width: 100%;
  height: 100%;
  background-color: rgb(32, 32, 32);
  border-radius: 50px;
  border: 2px solid rgb(170, 124, 62);
  -webkit-box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
          box-shadow: 0px 0px 9px 10px rgba(129, 96, 52, 0.2);
  padding: 80px 60px;
}
.contacts-block__container h2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.contacts-block__container .contact-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 70px auto;
  grid-template-columns: auto auto;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  row-gap: 35px;
}
.contacts-block__container .contact-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}
.contacts-block__container .contact-block__container p {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

footer {
  position: relative;
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 90px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50px 50px 0px 0px;
  padding: 30px 0px;
  z-index: 1000;
}
footer .logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
footer .info-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 7vw;
  gap: 30px;
}
footer .about-us-block__container,
footer .documents-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  gap: 60px;
}
footer .about-us-block__container {
  position: relative;
}
footer .about-us-block__container .form {
  position: absolute;
  bottom: 0px;
}
footer .about-us-block__container .form.active-form {
  position: absolute;
  bottom: 0px;
}
footer .about-us-text.active-form {
  display: none;
}
footer .about-us-text p {
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  max-width: 700px;
}
footer .documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 40px;
}
footer .documents ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 15px;
}
footer .documents h2,
footer .documents a {
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  max-width: 700px;
  text-align: end;
}
footer .documents li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
footer .documents a {
  position: relative;
  opacity: 0.7;
}
footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}
footer > button {
  visibility: hidden;
  position: absolute;
  top: 42px;
  left: 35px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
footer > button:hover {
  opacity: 0.5;
}
footer > button.active-footer-button-top {
  visibility: visible;
  opacity: 0.3;
}
